body {
    margin: 0;
    font-family: arial, sans-serif;
}

h1, h2 {
    font-size: 48px;
    text-decoration: underline;
    text-decoration-color: #f2af29;
    font-family: 'Libre Baskerville', serif;
    margin: 50px 0;
    
}


input[type="text"], input[type="email"] {
    width: 280px;
    height: 25px;
    background-color: #ffffff;
    border:1px solid #ddddde;
    border-radius: 4px;
    margin-bottom: 15px;
    margin-top: 5px;
    
}


input[type="submit"] {
    width: 90px;
    height: 25px;
    background-color: #f2af29;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}

textarea {
    width: 400px;
    height: 140px;
    margin-top: 5px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid #ddddde;
    resize: none; /* para tirar os marcadores da caixa de texto */
}


.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

.pag-interna h1, .pag-interna h2 {
    text-align: left;
    
}

.pag-interna p {
    padding-bottom: 35px;
}

.colunas {
    font-size: 18px;
    font-weight: bold;
}

.colunas-icones {
    width: 163px;
    height: 163px;
    background-color: #f2af29;
    border-radius: 163px;
    padding: 36px 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: inline-block;
}

.colunas-icones:hover {
   width: 163px;
    height: 163px;
    background-color: #ffffff;
    border: solid 3px #f2af29;
    border-radius: 163px;
    padding: 33px 0;
    box-sizing: border-box;
}



.flex {
    display: flex;
    justify-content: space-between;
}

.front {
    width: 192px;
    height: 300px;
    
}


.back {
    width: 192px !important;
    height: 300px !important;
    background-color: rgba(242, 175, 41, 0.7);
    font-size: 14px;
    padding: 0 12px;
    box-sizing: border-box;
    
}


.back h3 {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    padding: 10px 0 7px 0;
    margin: 0;
    text-align: left;
   
    
}

.back h4 {
    font-size: 14px;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
    padding-bottom: 10px;
    text-align: left;
    
}

.back p {
    line-height: 17px !important;
    margin: 0;
}

.back img {
    
}

.atuacao-icones {
    width: auto;
    height: 165px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
       
}

.padding-left {
    padding-left: 24px;
}

.texto-atuacao {
    width: 812px;
    height: 164px;
   
}

.texto-atuacao h2 {
    padding-bottom: 10px;
}




.atuacao-icones h2 {
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: #f2af29;
    margin: 0;
}






#topo {
    width: 100%;
    height: 100px;
    position: absolute;
}


#topo .container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#menu a {
    font-family: 'Libre Baskerville', serif;
    color: #000000;
    text-decoration: none;
    margin-left: 45px;
    
} 

#menu a:hover {
    text-decoration: underline;
    text-decoration-color: #000000;
    color: #f2af29;
}



#banner img {
    width: 100%;
}

#apresentacao {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
   
    
}

#apresentacao p {
    text-align: left;
    line-height: 24px;
    margin: 0;
}

#apresent-flex {
    width: 1000px;
    display: flex;
    justify-content: space-between;

    
}

#apresent-flex img {
    margin: auto;
    
}



#banner-interno {
    width: 100%;
    height: 400px;
}



#banner-interno img {
    width: 100%;
}


#formulario {
    width: 1000px;
    text-align: left;
    font-size: 18px;
}


#rodape {
    border-top: solid 3px #f2af29;
    
}


#rodape .container {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icones-rdp a {
    margin-left: 25px;
}







